section#about.section.about
  // title
  .title-wrapper
    p.smaller-title get to know me
    h2.title
      span.subtitle about
      | Me
  // progressbar
  .wrapper
    .progressbar
  // end of title
  // about center
  .about-center.section-center
    // about image
    article.about-img
      img.about-photo(src="/img/aboutimg.jpg", alt="about image")
    // about info
    article.about-info
      h3 Who am i?
      h4 I am Md. Muyeen - Ul - Islam, a Web Developer and Software Engineer.
      p.about-desc
        | Self-motivated, hard-working and highly interested in working with
        | web development and software development. Looking for organization
        | where I can utilize my knowledge and skills for the growth of the
        | organization.
      .about-desc2
        ul.about-desc-list
          li
            span.about-mini-title Name   :
            | Md. Muyeen - Ul - Islam
          li
            span.about-mini-title Email  :
            | mdmuyeenulislam@gmail.com
          li
            span.about-mini-title Phone  :
            | +8801521252380
          li
            span.about-mini-title Social :
            a(class="about-social__icon", href="https://www.facebook.com/sakif.kun/", target="_blank")
              i.fa-brands.fa-facebook
            a(class="about-social__icon", href="https://www.instagram.com/sakif.kun/", target="_blank")
              i.fa-brands.fa-instagram
            a(class="about-social__icon", href="https://github.com/muyeenulislam", target="_blank")
              i.fa-brands.fa-github
            a(class="about-social__icon", href="https://www.linkedin.com/in/md-muyeen-ul-islam/", target="_blank")
              i.fa-brands.fa-linkedin
            a(class="about-social__icon", href="https://www.youtube.com/channel/UCUzoH3pUaIHMQN4WOZA96NQ", target="_blank")
              i.fa-brands.fa-youtube
      // cv link
      a.btn-primary(href="https://drive.google.com/file/d/1uorBNqilk-v-jQhBqbRgkWge-3aAhudq/view?usp=sharing", target="_blank")
        | Download CV
