footer.section.footer
    // footer links
    .footer-links
        a.footer-link.scroll-link(href="#home") home
        a.footer-link.scroll-link(href="#about") about
        a.footer-link.scroll-link(href="#resume") resume
        a.footer-link.scroll-link(href="#portfolio") portfolio
        // <a href="#blog" class="footer-link scroll-link">blog</a>
        a.footer-link.scroll-link(href="#contact") contact
    // footer icons
    .footer-icons
        a.footer-icon(href="https://www.facebook.com/sakif.kun/", target="_blank")
            i.fa-brands.fa-facebook
        a.footer-icon(href="https://www.instagram.com/sakif.kun/", target="_blank")
            i.fa-brands.fa-instagram
        a.footer-icon(href="https://github.com/muyeenulislam", target="_blank")
            i.fa-brands.fa-github
        a.footer-icon(href="https://www.linkedin.com/in/md-muyeen-ul-islam-0b32ba159/", target="_blank")
            i.fa-brands.fa-linkedin
        a.footer-icon(href="https://www.youtube.com/channel/UCUzoH3pUaIHMQN4WOZA96NQ", target="_blank")
            i.fa-brands.fa-youtube
    // copyright
    p.copyright
        | copyright &amp;copy; Md. Muyeen - Ul - Islam 
        span#date
        | . all
        | rights reserved
