header.header
	//- navbar
	nav.navbar
		.nav-center
			//- nav header
			.nav-header
				//- nav logo
				img.nav-logo(src="/img/2.png", height="48px", width="48px", alt="logo")
				//- nav toggler
				button#nav-toggle.nav-toggle(type="button", aria-label="nav toggler")
					i.fas.fa-bars
			//- end of nav header
			//- navbar links
			#nav-links.nav-links
				a.nav-link.scroll-link(href="#home") home
				a.nav-link.scroll-link(href="#about") about
				a.nav-link.scroll-link(href="#resume") resume
				a.nav-link.scroll-link(href="#portfolio") portfolio
				//- <a href="#blog" class="nav-link scroll-link">blog</a>
				a.nav-link.scroll-link(href="#contact") contact
			//- end of navbar links
//- end of header
