section#home.section.hero
    .hero-banner
        h1.hero-title Md. Muyeen - Ul - Islam
        p.hero-text Software Engineer and Web Developer 
    // social icons
    .social
        ul(class="social__items")
            li(class="social__icons")
                a(class="social__icon", href="https://www.facebook.com/sakif.kun/", target="_blank")
                    i.fa-brands.fa-facebook
            li(class="social__icons")
                a(class="social__icon", href="https://www.instagram.com/sakif.kun/", target="_blank")
                    i.fa-brands.fa-instagram
            li(class="social__icons")
                a(class="social__icon", href="https://github.com/muyeenulislam", target="_blank")
                    i.fa-brands.fa-github
            li(class="social__icons")
                a(class="social__icon", href="https://www.linkedin.com/in/md-muyeen-ul-islam/", target="_blank")
                    i.fa-brands.fa-linkedin
            li(class="social__icons")
                a(class="social__icon", href="https://www.youtube.com/channel/UCUzoH3pUaIHMQN4WOZA96NQ", target="_blank")
                    i.fa-brands.fa-youtube
    // end of social icons
